<div class="container">

	<h2>Reservation Calendar</h2>

	<div id="calendar"></div>

</div>

<script>

	document.addEventListener('DOMContentLoaded', function() {

	var calendarEl = document.getElementById('calendar');

	var calendar = new FullCalendar.Calendar(calendarEl, {

	initialView: 'dayGridMonth',

	events: '/Reservations/GetReservations',

	dateClick: function(info){
		// open Create page with selected date as check-in
		var start = info.dateStr;
		var end = new Date(info.date);
		end.setDate(end.getDate() + 1);
		var endStr = end.toISOString().split('T')[0];
		window.location = '/Reservations/Create?checkIn=' + start + '&checkOut=' + endStr;
	}

	});

	calendar.render();

	});

</script>
